.storyPlaceholderContainer {
	padding:1em;
	width:100%;
	max-width:840px;
	height:100%;
}

.headlinePlaceholder {
	display:block;
	opacity:0.5;
	width:75%;
	max-width:830px;
	height:70px;
	background:var(--article-placeholder-clr);
	border-radius:var(--article-placeholder-radius);
	animation:shimmer 1.5s ease-in-out infinite;
}

.bylinesPlaceholder {
	display:block;
	opacity:0.5;
	margin-top:2em;
	width:40%;
	max-width:420px;
	height:30px;
	background:var(--article-placeholder-clr);
	border-radius:var(--article-placeholder-radius);
	animation:shimmer 1.5s ease-in-out infinite;
}

.copyPlaceholderContainer {
	span {
		display:block;
		opacity:0.5;
		margin-top:2em;
		width:100%;
		height:50px;
		background:var(--article-placeholder-clr);
		border-radius:var(--article-placeholder-radius);
		animation:shimmer 1.5s ease-in-out infinite;
	}
}

.newsItemPlaceholder {

	padding:1em;
	min-height:130px;
	background:white;
	border-radius:var(--card-radius);
	box-shadow:var(--card-shadow);

	span {
		border-radius:var(--newsitem-placeholder-radius);
		display:block;
		background:lightgray;
		opacity:0.5;
		animation:shimmer 1.5s ease-in-out infinite;
	}

}

.niHeadline {
	width:100%;
	height:25%;
}

.niBylines {
	width:45%;
	height:10%;
	margin-top:2em;
}

.niTimestamp {
	width:35%;
	height:10%;
	margin-top:1em;
}

@keyframes shimmer {

	0% {
		opacity:0.5;
	}

	50% {
		opacity:1;
	}

	100% {
		opacity:0.5;
	}

}