.categoriesContainer {
	padding:1em;
	height:100%;
	overflow-x:hidden;
}

.categories {

	display:grid;
	grid-template-columns:1fr;
	height:100%;
	gap:0.7em;
	list-style-type:none;

	li {
		display:flex;
		flex-direction:row;
		align-items:center;
		padding:0 1.5em;
		flex:0 1 45%;
		font-weight:var(--category-weight);
		font-size:var(--category-size);
		color:var(--soft-gray);
		border-radius:var(--card-radius);
		box-shadow:var(--card-shadow);
		cursor:pointer;
		transition:color 200ms ease, background-color 200ms ease, transform 275ms ease;

		p {
			margin-left:1em;
		}

		&:hover {
			color:white;
			background:var(--secondary-clr);
			transform:translateY(-10px);
		}
	}

	@media screen and (min-width:360px) {

		grid-template-columns:repeat(auto-fit, minmax(45%, 1fr));

		li {
			flex-direction:column;
			justify-content:center;
			align-items:flex-start;

			img {
				max-width:50px;
				height:auto;
			}

			p {
				margin-top:1em;
				margin-left:0;
			}

		}

	}

}

@media screen and (min-width:1024px) {

	.categoriesContainer {
		width:300px;
		padding:0;
		box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.1);
	}

	.categories {

		/* Update custom properties */
		--category-size:1rem;
		--category-weight:300;

		grid-template-columns:1fr;
		gap:0;

		li {
			flex-direction:row;
			padding:0 0 0 1em;
			align-items:center;
			justify-content:flex-start;
			border-radius:0;
			box-shadow:none;

			p {
				margin:0 0 0 1em;
			}

			&:hover {
				transform:none;
			}

			&:nth-of-type(n+2) {
				border-top:1px solid #e8e8e8;
			}

		}

	}

}