.categoriesContainer {
	padding:1em;
	min-height:100%;
	overflow-x:hidden;
}

.categories {

	display:grid;
	grid-template-columns:1fr;
	height:100%;
	gap:0.7em;
	list-style-type:none;

	li {
		padding:1em;
		font-weight:var(--category-weight);
		font-size:var(--category-size);
		border-radius:var(--card-radius);
		box-shadow:var(--card-shadow);
		cursor:pointer;
		transition:background-color 200ms ease, transform 275ms ease;

		a {
			display:flex;
			flex-direction:row;
			align-items:center;
			height:100%;
			text-decoration:none;
			color:var(--soft-gray);
			transition:color 200ms ease; 
		}


		p {
			margin-left:1em;
		}

		&:hover {
			background:var(--secondary-clr);
			transform:translateY(-5px);

			a {
				color:white;
			}

		}
	}

	@media screen and (min-width:360px) {

		grid-template-columns:repeat(auto-fit, minmax(45%, 1fr));

		li {

			a {
				flex-direction:column;
				align-items:flex-start;
				justify-content:center;
			}

			p {
				margin-top:1em;
				margin-left:0;
			}

		}

	}

}

@media screen and (min-width:800px) {

	.categoriesContainer {
		width:300px;
		padding:0;
		box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 0.1);
	}

	.categories {

		/* Update custom properties */
		--category-size:1rem;
		--category-weight:300;

		grid-template-columns:1fr;
		gap:0;


		li {
			border-radius:0;
			box-shadow:none;
			min-height:100px;

			svg, p {
				transition:transform 200ms ease;
			}

			a {
				flex-direction:row;
				align-items:center;
				justify-content:flex-start;
			}

			p {
				margin:0 0 0 1em;
			}

			&:hover {
				transform:none;
				p, svg  {
					transform:translateX(5px);
				}
			}

			&:nth-of-type(n+2) {
				border-top:1px solid #e8e8e8;
			}

		}

	}

}