:root {
	--primary-clr: hsl(212, 62%, 40%);
	--secondary-clr: hsl(212, 43%, 51%);
	--rich-black: hsl(44, 5%, 14%);
	--soft-gray: hsl(212, 40%, 40%);
	--charcoal: hsl(136, 0%, 15%);

	/*
	------ FONT STYLES ------
	*/

	/* Nav header */
	--nav-hed-clr: white;
	--nav-hed-size: 1rem;
	--nav-hed-weight: 500;

	/* Categories */
	--category-size:1.1rem;
	--category-weight:600;

	/* News listings */
	--listing-hed-clr: hsl(218, 63%, 22%);
	--listing-byline-clr: var(--rich-black);
	--hed-size:1rem;
	--hed-weight:700;
	--byline-size:0.85rem;
	--byline-weight:300;

	/* Article */
	--article-copy-clr: var(--rich-black);
	--article-hed-size: 2.5rem;
	--article-hed-weight: 600;
	--article-hed-line-height: 1.2;

	--article-copy-size: 1.1rem;
	--article-copy-weight: 400;
	
	--article-bylines-size: 0.9rem;
	--article-bylines-color: var(--soft-gray);
	--article-byline-weight: 600;

	/* Placeholders */
	--article-placeholder-clr: var(--charcoal);
	--article-placeholder-radius: 9999px;

	/*
	----- UTILITY STYLES ------
	*/

	--card-shadow: 5px 4px 12px 0px rgba(89,89,89,0.1);
	--card-radius: 8px;
	
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400;600&display=swap');

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

html, body {
	min-height:100vh;
}

html {
	font-size:14px;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family:'Noto Sans Display', Helvetica, sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

@media screen and (min-width:768px) {
	html {
		font-size:16px;
	}
}