.navBar {
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:0.7em 1.25em;
	background:linear-gradient(90deg, var(--primary-clr), var(--secondary-clr));

	h3 {
		font-weight:var(--nav-hed-weight);
		color:var(--nav-hed-clr);
		text-transform:uppercase;
	}

}

.pointer {
	cursor:pointer;
}