.headline {

	font-size:var(--article-hed-size);
	font-weight:var(--article-hed-weight);
	line-height:var(--article-hed-line-height);
	letter-spacing:-0.5px;

}

.bylinesContainer {
	position:relative;
	margin:1.5em 0 2em 0;
	max-width:max-content;
}

.byline {
	font-weight: var(--article-byline-weight);
}

.copyContainer {

	p {
		font-weight:var(--article-copy-weight);
		line-height:1.5;
		&:nth-of-type(2) {
			margin:1em 0;
		}
	}

}