.newsItem {

	--height: 155px;

	display:flex;
	flex-direction:column;
	justify-content:center;
	padding:1.25em;
	background:white;
	min-height:var(--height);
	border-radius:var(--card-radius);
	box-shadow:var(--card-shadow);
	transition:background-color 150ms ease, height 250ms ease, transform 250ms ease;
	transform-origin:center;
	will-change:auto;

	h4, p {
		transition:color 150ms linear;
		color:var(--listing-hed-clr);
	}

	h4 {
		font-size:1.15rem;
	}

	p {
		font-size:0.9rem;
		color:var(--rich-black);
	}

	&:hover {

		background:var(--secondary-clr);
		transform:scale(1.02);

		h4, p {
			color:white;
		}

	}

}

.metaData {
	margin-top:1em;
}