.newsListingContainer {
	padding:1em;
}

.newsListing {
	display:grid;
	grid-template-columns:1fr;
	gap:0.7em;
	list-style-type:none;

	@media screen and (min-width:800px) {
		grid-template-columns:repeat(auto-fit, minmax(400px, 1fr));
		gap:1.5em;
	}

	@media screen and (min-width:1000px) {
		grid-template-columns:repeat(auto-fit, minmax(500px, 1fr));
	}

}